footer {
    text-align: center;
    padding: 20px;
    /* background-color: var(--bg-secundario); */
    color: var(--texto-secundario);
    font-size: 0.9rem;
    margin-top: 2rem;
}

footer a {
    color: var(--texto-secundario);
    text-decoration: none;
    margin: 0 10px;
    transition: text-shadow 0.3s ease-in-out;
}

footer a:hover {
    text-shadow: 0px 0px 6px  #00ffc884 ;
}