
<div class="navbar">
    <div class="nav-menu">
        <ul>
            <li class="nav-item">
                <a routerLink="/proyectos-destacados" class="nav-link">Proyectos Destacados</a>
            </li>

            <li class="nav-item">
                CV
                <a href="/pdf/CV_Carlos_Eduardo_Balbastro_2026.pdf"  download>Descargar </a>
                | <a href="/pdf/CV_Carlos_Eduardo_Balbastro_2026.pdf" target="_blank" >Ver online</a>
            </li>

            <li class="nav-item"><a routerLink="/presupuestos" class="nav-link">Presupuestos</a></li>

            <li class="nav-item">
                <a  routerLink="/convertidor-dolar" class="nav-link">Convertidor Dolar</a>
            </li>
        </ul>
    </div>
    
   
</div>